<section class="promo-banner">

    <div class="container">

        <div class="promo-content">

            <span>LIMITED TIME OFFER</span>

            <h2>Flat 30% OFF</h2>

            <h3>Premium Saree Collection</h3>

            <p>

                Discover elegant sarees designed for every occasion.
                Wedding, Party Wear, Silk and Daily Wear Collections.

            </p>

            <div class="promo-buttons">

                <a href="shop.html" class="promo-btn">

                    Shop Now

                </a>

                <a href="shop.html" class="promo-outline">

                    Explore Collection

                </a>

            </div>

        </div>

    </div>

</section>