<div class="top-bar">

    <div class="container">

        <div id="topAnnouncement" class="announcement">

            <div class="announcement-item active">
                <i class="fa-solid fa-truck-fast"></i>
                Free Shipping on Orders Above ₹999
            </div>

            <div class="announcement-item">
                <i class="fa-solid fa-arrow-rotate-left"></i>
                7 Days Easy Return Policy
            </div>

            <div class="announcement-item">
                <i class="fa-solid fa-shield-halved"></i>
                100% Secure Payment
            </div>

            <div class="announcement-item">
                <i class="fa-solid fa-headset"></i>
                Customer Support : +91 98765 43210
            </div>

        </div>

    </div>

</div>